body {
	background-color: black;
	color: white;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	width:1200px;
	heigth:1000px;
}

table {
	bborder-collapse: collapse;
	border-style: none;
	border-width: 2px;
}

td {
	border-style: none;
	border-width: 1px;
}

table td {
	border: solide;
	width: 7px;
	height: 7px;
	font-size: 8pt;
	/*background-color: rgb(128,128,255);*/
}

p.cellvalues { font-size: 14pt; }

.cellTitle {
	height: 50px;
}

.button { height:30px; width:80px; }

p.iterationCount { font-size: 20pt; }

.keyShortHelp li { float:left; width:140px;}
